<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Angular TODO app</title>
    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <link href='styles/main.css' rel='stylesheet' type="text/css">
  </head>
  <body ng-app="toDoListApp">
    <h1 ng-click="helloWorld()">MY TODO APPlICATION</h1>
      <div ng-controller="mainCtrl" class="list">
      <!-- todo list will be here -->
        <div class="item" ng-class="{'editing-item': editing, 'edited': todo.edited}" ng-repeat="todo in todos">

          <input ng-model="todo.completed" type="checkbox">

          <label ng-hide="editing" class="editing-label" ng-click="helloWorld()">{{todo.name}}</label> <!-- .editing-label -->

          <input ng-change="todo.edited = true" ng-blur="editing = false;" ng-show="editing" ng-model="todo.name" class="editing-label"type="text"> <!-- .editing-label -->

        <!-- buttons -->
          <div class="actions">
            <a href="#" ng-click="editing = !editing">Edit</a>  <!-- if editing is set to true, set it to false and vise versa -->
            <a href="#" ng-click="helloConsole()">Save</a>
            <!-- says when user clicks save, fire the helloWorld function -->
            <a href="#" class="Delete">Delete</a>
          </div>  <!-- end of buttons           .actions -->
        </div>   <!-- end ng-repeat all todos   .item-->
      </div>  <!-- end list of all todos        .list-->

    <script src="bower_components/angular/angular.js" type="text/javascript"></script>
    <script src="scripts/app.js" type="text/javascript"></script>
  </body>
</html>
